<div class="container">
  <div class='beer-container'>
    <img src='{{this.image_url}}' alt='BEER IMAGE' />
    <div>
      <h5>{{this.name}}</h5>
      <p>{{this.description}}</p>
      <h5>
      </h5>
    </div>
  </div>
</div>